:root {
  --background-body: #fff;
  --font-size-globe: 1rem;
  --font-weight-400: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-globe);
  font-weight: var(--font-weight-400);
  height: 100%;
  overflow-x: hidden;
  background-color: var(--background-body);
  text-rendering: optimizeLegibility;
  line-height: var(--line-height);
  width: 100vw;
  transition: all 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}
